# __[What kind of data does pandas handle?](https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html#what-kind-of-data-does-pandas-handle)__
<br>

To load the pandas package and start working with it, import the package.
The community agreed alias for pandas is `pd`, so loading pandas as `pd` is assumed standard practice for all the pandas documentation.

In [14]:
import pandas as pd
import matplotlib.pyplot as plt

# Allows plots to show in the Jupyter Notebook
%matplotlib inline

# Change dpi (so plots display larger inside DataSpell IDE)
plt.rcParams['figure.dpi'] = 200

### Pandas data table representation
![](../utility/pd_data_tbl_rep_01.png)
<br>
##### ? Question ?
I want to store passenger data of the Titanic. For a number of passengers, I know the name (characters), age (integers) and sex (male/female) data.
<br>
##### Answer
To manually store data in a table, create a `DataFrame`.

In [4]:
passenger_data = pd.DataFrame(
    {
        'Name': [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

passenger_data

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

When using a Python dictionary of lists, the dictionary keys will be used as column headers and the values in each list as columns of the `DataFrame`.
<br>

A __[DataFrame](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html#pandas.DataFrame)__ is a 2-dimensional data structure that can store data of different types (including characters, integers, floating point values, categorical data and more) in columns. It is similar to a spreadsheet, a SQL table or the `data.frame` in R.

- The table has 3 columns, each of them with a column label. The column labels are respectively `Name`, `Age` and `Sex`.

- The column `Name` consists of textual data with each value a string, the column `Age` are numbers and the column `Sex` is textual data.

In spreadsheet software, the table representation of our data would look very similar.

### Each column in a DataFrame is a Series
<img src="utility/df_col_series_01.png"/>.
<br>
##### ? Question ?
I’m just interested in working with the data in the column `Age`.
<br>
##### Answer
To select the column, use the column label in between square brackets `[]`.

In [5]:
passenger_data['Age']

0    22
1    35
2    58
Name: Age, dtype: int64

If you are familiar to Python __[dictionaries](https://docs.python.org/3/tutorial/datastructures.html#tut-dictionaries)__, the selection of a single column is very similar to selection of dictionary values based on the key.
<br>
<br>
You can create a `Series` from scratch as well:

In [6]:
ages = pd.Series([22, 35, 58])
ages

0    22
1    35
2    58
dtype: int64

A pandas `Series` has no column labels, as it is just a single column of a `DataFrame`. A `Series` does have row labels.

### Do something with a DataFrame or Series

<br>

##### ? Question ?
I want to know the maximum Age of the passengers.
<br>
##### Answer
We can do this on the `DataFrame` by selecting the `Age` column and applying `max()`:

In [7]:
passenger_data['Age'].max()

58

As illustrated by the `max()` method, you can do things with a `DataFrame` or `Series`. pandas provides a lot of functionalities, each of them a method you can apply to a `DataFrame` or `Series`. As methods are functions, do not forget to use parentheses `()`.

##### ? Question ?
I’m interested in some basic statistics of the numerical data of my data table.
<br>
##### Answer
Use the `describe()` method

In [8]:
passenger_data.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

The __[`describe()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html#pandas.DataFrame.describe)__ method provides a quick overview of the numerical data in a `DataFrame`. As the `Name` and `Sex` columns are textual data, these are by default not taken into account by the __[`describe()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html#pandas.DataFrame.describe)__ method.
<br>

Many pandas operations return a `DataFrame` or a `Series`. The __[`describe()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html#pandas.DataFrame.describe)__ method is an example of a pandas operation returning a pandas `Series` or a pandas `DataFrame`.
<br>

Check more options on `describe` in the user guide section about __[aggregations with describe](https://pandas.pydata.org/docs/user_guide/basics.html#basics-describe)__.

This is just a starting point. Similar to spreadsheet software, pandas represents data as a table with columns and rows. Apart from the representation, also the data manipulations and calculations you would do in spreadsheet software are supported by pandas. Continue reading the next tutorials to get started!
<br>
### REMEMBER
- Import the package, aka `import pandas as pd`
- A table of data is stored as a pandas `DataFrame`
- Each column in a `DataFrame` is a `Series`
- You can do things by applying a method to a `DataFrame` or `Series`

# __[How do I read and write tabular data?](https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html#how-do-i-read-and-write-tabular-data)__<br>

<img src="utility/rd_wrt_tblr_dt_01.png">.
<br>
##### ? Question ?
I want to analyze the Titanic passenger data, available as a CSV file.
<br>
##### Answer
pandas provides the __[`read_csv()`](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html#pandas.read_csv)__ function to read data stored as a csv file into a pandas `DataFrame`. pandas supports many file formats or data sources out of the box (csv, excel, sql, json, parquet, …), each of them with the prefix `read_*`.
<br>
Make sure to always have a check on the data after reading in the data. When displaying a `DataFrame`, the first and last 5 rows will be shown by default.

In [ ]:
titanic_passenger_data = pd.read_csv('../data/titanic.csv')
titanic_passenger_data

##### ? Question ?
I want to see the first ## rows of a pandas DataFrame.
<br>
##### Answer
To see the first N rows of a `DataFrame`, use the __[`head()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html#pandas.DataFrame.head)__ method with the required number of rows (in this case N) as argument.

In [ ]:
titanic_passenger_data.head(10)

Interested in the last N rows instead? pandas also provides a __[`tail()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.tail.html#pandas.DataFrame.tail)__ method.

In [ ]:
titanic_passenger_data.tail(8)

A check on how pandas interpreted each of the column data types can be done by requesting the pandas `dtypes` attribute:

In [ ]:
titanic_passenger_data.dtypes

For each of the columns, the used data type is enlisted. The data types in this `DataFrame` are integers (`int64`), floats (`float64`) and strings (`object`).
<br>
When asking for the `dtypes`, no brackets are used! `dtypes` is an attribute of a `DataFrame` and `Series`. Attributes of `DataFrame` or `Series` do not need brackets. Attributes represent a characteristic of a `DataFrame`/`Series`, whereas a method (which requires brackets) do something with the `DataFrame`/`Series` as introduced in the __[first tutorial](https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html)__.

##### ? Question ?
My colleague requested the Titanic data as a spreadsheet.
<br>
##### Answer
Whereas `read_*` functions are used to read data to pandas, the `to_*` methods are used to store data. The __[`to_excel()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html#pandas.DataFrame.to_excel)__ method stores the data as an Excel file, or the __[`to_json`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_json.html#) method stores the data as a json file.

In [ ]:
titanic_passenger_data.to_json('data/titanic.json')

The equivalent `read_*` function will reload the data to a `DataFrame`:

In [ ]:
titanic_passenger_data_read = pd.read_json('data/titanic.json')
titanic_passenger_data_read.head(20)

##### ? Question ?
I’m interested in a technical summary of a `DataFrame`
<br>
##### Answer
The method `info()` provides technical information about a `DataFrame`

In [ ]:
titanic_passenger_data_read.info()

So let’s explain the output in more detail:
- It is indeed a __[`DataFrame`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html#pandas.DataFrame)__.
- There are ### entries, i.e. 891 rows.
- Each row has a row label (aka the `index`) with values ranging from 0 to ###.
- The table has ## columns. Most columns should have a value for each of the rows (all ### values are `non-null`). Some columns will have missing values and less than ### `non-null` values.
- The columns `Name`, `Sex`, `Cabin` and `Embarked` consists of textual data (strings, aka `object`). The other columns are numerical data with some of them whole numbers (aka `integer`) and others are real numbers (aka `float`).
- The kind of data (characters, integers,…) in the different columns are summarized by listing the `dtypes`.
- The approximate amount of RAM used to hold the DataFrame is provided as well.

### REMEMBER
- Getting data in to pandas from many file formats or data sources is supported by `read_*` functions.
- Exporting data out of pandas is provided by different `to_*` methods.
- The `head`/`tail`/`info` methods and the `dtypes` attribute are convenient for a first check.
<br>

For a complete overview of the input and output possibilities from and to pandas, see the user guide section about __[reader and writer functions](https://pandas.pydata.org/docs/user_guide/io.html#io)__.

# __[How do I select a subset of a DataFrame?](https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html#how-do-i-select-a-subset-of-a-dataframe)__
<br>

### How do I select specific columns from a DataFrame?

<img src='utility/slct_sbst_df_01.png'>

##### ? Question ?
I'm interested in the age of the titanic passengers.
<br>
##### Answer
To select a single column, use square brackets `[]` with the column name of the column of interest.

In [ ]:
ages = titanic_passenger_data['Age']
ages

Each column in a __[`DataFrame`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html#pandas.DataFrame)__ is a __[`Series`](https://pandas.pydata.org/docs/reference/api/pandas.Series.html#pandas.Series)__. As a single column is selected, the returned object is a pandas __[`Series`](https://pandas.pydata.org/docs/reference/api/pandas.Series.html#pandas.Series)__. We can verify this by checking the type of the output:

In [ ]:
type(titanic_passenger_data['Age'])

And have a look at the `shape` of the output:

In [ ]:
titanic_passenger_data['Age'].shape

__[`DataFrame.shape`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shape.html#pandas.DataFrame.shape)__ is an attribute (remember __[tutorial on reading and writing](https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html#min-tut-02-read-write)__, do not use parentheses for attributes) of a pandas `Series` and `DataFrame` containing the number of rows and columns: (nrows, ncolumns). A pandas `Series` is 1-dimensional and only the number of rows is returned.

##### ? Question ?
I’m interested in the age and sex of the Titanic passengers.
<br>
##### Answer
To select multiple columns, use a list of column names within the selection brackets `[]`. The returned data type is a pandas `DataFrame`.

In [ ]:
age_sex = titanic_passenger_data[['Age', 'Sex']]
age_sex

The inner square brackets define a __[Python list](https://docs.python.org/3/tutorial/datastructures.html#tut-morelists)__ with column names, whereas the outer brackets are used to select the data from a pandas `DataFrame` as seen in the previous example. Remember, a `DataFrame` is 2-dimensional with both a row and column dimension.
<br>
For basic information on indexing, see the user guide section on __[indexing and selecting data](https://pandas.pydata.org/docs/user_guide/indexing.html#indexing-basics)__.

### How do I filter specific rows from a DataFrame?
![](utility/slct_sbst_df_02.png)
<br>
##### ? Question ?
I’m interested in the passengers older than 35 years.
<br>
##### Answer
To select rows based on a conditional expression, use a condition inside the selection brackets `[]`.

In [ ]:
above_35 = titanic_passenger_data[titanic_passenger_data['Age'] > 35]
above_35

The condition inside the selection brackets `titanic_passenger_data["Age"] > 35` checks for which rows the `Age` column has a value larger than 35:

In [ ]:
titanic_passenger_data['Age'] > 35

The output of the conditional expression (`>`, but also `==`, `!=`, `<`, `<=`,… would work) is actually a pandas `Series` of boolean values (either `True` or `False`) with the same number of rows as the original `DataFrame.` Such a `Series` of boolean values can be used to filter the `DataFrame` by putting it in between the selection brackets `[]`. Only rows for which the value is `True` will be selected.
<br>
We know from before that the original Titanic `DataFrame` consists of 891 rows. Let’s have a look at the number of rows which satisfy the condition by checking the `shape` attribute of the resulting `DataFrame above_35`:

In [ ]:
above_35.shape

##### ? Question ?
I’m interested in the Titanic passengers from cabin class 2 and 3.
<br>
##### Answer
Similar to the conditional expression, the __[`isin()`](https://pandas.pydata.org/docs/reference/api/pandas.Series.isin.html#pandas.Series.isin)__ conditional function returns a `True` for each row the values are in the provided list. To filter the rows based on such a function, use the conditional function inside the selection brackets `[]`. In this case, the condition inside the selection brackets `titanic["Pclass"].isin([2, 3])` checks for which rows the `Pclass` column is either 2 or 3.

In [ ]:
titanic_passenger_data[titanic_passenger_data['Pclass'].isin([2, 3])]

The above is equivalent to filtering by rows for which the class is either 2 or 3 and combining the two statements with an `|` (or) operator:

In [ ]:
class_23 = titanic_passenger_data[(titanic_passenger_data['Pclass'] == 2) | (titanic_passenger_data['Pclass'] == 3)]
class_23

When combining multiple conditional statements, each condition must be surrounded by parentheses `()`. Moreover, you can not use `or`/`and` but need to use the `or` operator `|` and the `and` operator `&`.
<br>
See the dedicated section in the user guide about __[boolean indexing](https://pandas.pydata.org/docs/user_guide/indexing.html#indexing-boolean)__ or about the __[isin](https://pandas.pydata.org/docs/user_guide/indexing.html#indexing-basics-indexing-isin)__ function.

##### ? Question ?
I want to work with passenger data for which the age is known.
<br>
##### Answer
The __[`notna()`](https://pandas.pydata.org/docs/reference/api/pandas.Series.notna.html#pandas.Series.notna)__ conditional function returns a `True` for each row the values are not a `Null` value. As such, this can be combined with the selection brackets `[]` to filter the data table.

In [ ]:
age_no_na = titanic_passenger_data[titanic_passenger_data['Age'].notna()]
age_no_na

You might wonder what actually changed, as the first 5 lines are still the same values. One way to verify is to check if the shape has changed:

In [ ]:
age_no_na.shape

For more dedicated functions on missing values, see the user guide section about __[handling missing data](https://pandas.pydata.org/docs/user_guide/missing_data.html#missing-data)__.

# How do I select specific rows and columns from a DataFrame?
![](utility/slct_sbst_df_03.png)
<br>
##### ? Question ?
I’m interested in the names of the passengers older than 35 years.
<br>
##### Answer
In this case, a subset of both rows and columns is made in one go and just using selection brackets `[]` is not sufficient anymore. The `loc`/`iloc` operators are required in front of the selection brackets `[]`. When using `loc`/`iloc`, the part before the comma is the rows you want, and the part after the comma is the columns you want to select.

In [ ]:
adult_names = titanic_passenger_data.loc[titanic_passenger_data['Age'] > 35, 'Name']
adult_names

When using the column names, row labels or a condition expression, use the `loc` operator in front of the selection brackets `[]`. For both the part before and after the comma, you can use a single label, a list of labels, a slice of labels, a conditional expression or a colon. Using a colon specifies you want to select all rows or columns.

##### ? Question ?
I’m interested in rows 10 till 25 and columns 3 to 5.
<br>
##### Answer
Again, a subset of both rows and columns is made in one go and just using selection brackets `[]` is not sufficient anymore. When specifically interested in certain rows and/or columns based on their position in the table, use the `iloc` operator in front of the selection brackets `[]`.

In [ ]:
titanic_passenger_data.iloc[9:25, 2:5]

When selecting specific rows and/or columns with `loc` or `iloc`, new values can be assigned to the selected data. For example, to assign the name `anonymous` to the first 3 elements of the third column:

In [ ]:
titanic_passenger_data.iloc[0:3, 3] = 'anonymous'
titanic_passenger_data.head()

See the user guide section on __[different choices for indexing](https://pandas.pydata.org/docs/user_guide/indexing.html#indexing-choice)__ to get more insight in the usage of `loc` and `iloc`.
<br>
<br>
### REMEMBER
- When selecting subsets of data, square brackets `[]` are used.
- Inside these brackets, you can use a single column/row label, a list of column/row labels, a slice of labels, a conditional expression or a colon.
- Select specific rows and/or columns using `loc` when using the row and column names
- Select specific rows and/or columns using `iloc` when using the positions in the table
- You can assign new values to a selection based on `loc`/`iloc`.
<br>

A full overview of indexing is provided in the user guide pages on __[indexing and selecting data](https://pandas.pydata.org/docs/user_guide/indexing.html#indexing)__.

# __[How to create plots in pandas](https://pandas.pydata.org/docs/getting_started/intro_tutorials/04_plotting.html#how-to-create-plots-in-pandas)__
![](utility/crt_plts_pd_01.png)
<br>
Data used for this part of the tutorial:

In [ ]:
air_quality = pd.read_csv('data/air_quality.csv', index_col=0, parse_dates=True)
air_quality.head()

The usage of the `index_col` and `parse_dates` parameters of the `read_csv` function to define the first (0th) column as index of the resulting DataFrame and convert the dates in the column to __[`Timestamp`](https://pandas.pydata.org/docs/reference/api/pandas.Timestamp.html#pandas.Timestamp)__ objects, respectively.

##### ? Question ?
I want a quick visual check of the data.
<br>
##### Answer
With a `DataFrame`, pandas creates by default one line plot for each of the columns with numeric data.

In [ ]:
air_quality.plot()

##### ? Question ?
I want to plot only the columns of the data table with the data from Paris.
<br>
##### Answer
To plot a specific column, use the selection method of the __[subset data tutorial](https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html#min-tut-03-subset)__ in combination with the __[`plot()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.html#pandas.DataFrame.plot)__ method. Hence, the __[`plot()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.html#pandas.DataFrame.plot)__ method works on both `Series` and `DataFrame`.

In [ ]:
air_quality['station_paris'].plot()

##### ? Question ?
I want to visually compare the no2 values measured in London versus Paris.
<br>
##### Answer
Apart from the default `line` plot when using the `plot` function, a number of alternatives are available to plot data.

In [ ]:
air_quality.plot.scatter(x='station_london', y='station_paris', alpha=0.5)

Let’s use some standard Python to get an overview of the available plot methods:

In [ ]:
[
    method_name
    for method_name in dir(air_quality.plot)
    if not method_name.startswith("_")
]

One of the options is __[`DataFrame.plot.box()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.box.html#pandas.DataFrame.plot.box)__, which refers to a boxplot. The `box` method is applicable on the air quality example data:

In [ ]:
air_quality.plot.box()

For an introduction to plots other than the default line plot, see the user guide section about __[supported plot styles](https://pandas.pydata.org/docs/user_guide/visualization.html#visualization-other)__.

##### ? Question ?
I want each of the columns in a separate subplot.
<br>
##### Answer
Separate subplots for each of the data columns are supported by the `subplots` argument of the `plot` functions. The builtin options available in each of the pandas plot functions are worth reviewing.

In [ ]:
axs = air_quality.plot.area(figsize=(12, 4), subplots=True)

Some more formatting options are explained in the user guide section on __[plot formatting](https://pandas.pydata.org/docs/user_guide/visualization.html#visualization-formatting)__.

##### ? Question ?
I want to further customize, extend or save the resulting plot.
<br>
##### Answer

In [ ]:
# Create an empty matplotlib Figure and Axes
fig, axs = plt.subplots(figsize=(12, 4))

# Use pandas to put the area plot on the prepared Figure/Axes
air_quality.plot.area(ax=axs)

# Do any matplotlib customization you like
axs.set_ylabel('NO$_2$ concentration')

# Save the Figure/Axes using the existing matplotlib method.
fig.savefig('data/no2_concentrations.png')

Each of the plot objects created by pandas is a __[matplotlib object](https://matplotlib.org/)__. As Matplotlib provides plenty of options to customize plots, making the link between pandas and Matplotlib explicit enables all the power of matplotlib to the plot. This strategy is applied in the previous example.

### REMEMBER
- The `.plot.*` methods are applicable on both `Series` and `DataFrames`
- By default, each of the columns is plotted as a different element (line, boxplot,…)
- Any plot created by pandas is a Matplotlib object.

<br>

A full overview of plotting in pandas is provided in the __[visualization pages](https://pandas.pydata.org/docs/user_guide/visualization.html#visualization)__.

# __[How to create new columns derived from existing columns?](https://pandas.pydata.org/docs/getting_started/intro_tutorials/05_add_columns.html#how-to-create-new-columns-derived-from-existing-columns)__
![](utility/crt_cols_xst_cols_01.png)
<br>
Data used for this section of the tutorial:

In [ ]:
air_quality.head()

##### ? Question ?
I want to express the no2 concentration of the station in London in mg/m**3
(If we assume temperature of 25 degrees Celsius and pressure of 1013 hPa, the conversion factor is 1.882)
<br>
##### Answer
To create a new column, use the `[]` brackets with the new column name on the left side of the assignment.

In [ ]:
air_quality['london_mg_per_cubic'] = air_quality['station_london'] * 1.882
air_quality.head()

The calculation of the values is done **element_wise**. This means all values in the given column are multiplied by the value 1.882 at once. You do not need to use a loop to iterate each of the rows!
<br>
![](utility/crt_cols_xst_cols_02.png)

##### ? Question ?
I want to check the ratio of the values in Paris versus Antwerp and save the result in a new column
<br>
##### Answer

In [ ]:
air_quality['ration_paris_antwerp'] = air_quality['station_paris'] / air_quality['station_antwerp']
air_quality.head()

The calculation is again element-wise, so the `/` is applied for the values in each row.
<br>
Also, other mathematical operators (`+`, `-`, `\*`, `/`) or logical operators (`<`, `>`, `=`,…) work element wise. The latter was already used in the __[subset data tutorial](https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html#min-tut-03-subset)__ to filter rows of a table using a conditional expression.
<br>
If you need more advanced logic, you can use arbitrary Python code via __[`apply()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html#pandas.DataFrame.apply)__.

##### ? Question ?
I want to rename the data columns to the corresponding station identifiers used by openAQ
<br>
##### Answer
The __[`rename()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html#pandas.DataFrame.rename)__ function can be used for both row labels and column labels. Provide a dictionary with the keys the current names and the values the new names to update the corresponding names.

In [ ]:
air_quality_renamed = air_quality.rename(columns={
    "station_antwerp": "BETR801",
    "station_paris": "FR04014",
    "station_london": "London Westminster",
})

air_quality_renamed.head()

The mapping should not be restricted to fixed names only, but can be a mapping function as well. For example, converting the column names to lowercase letters can be done using a function as well:

In [ ]:
air_quality_renamed = air_quality_renamed.rename(columns=str.lower)
air_quality_renamed

Details about column or row label renaming is provided in the user guide section on __[renaming labels](https://pandas.pydata.org/docs/user_guide/basics.html#basics-rename)__.
<br>
### REMEMBER
- Create a new column by assigning the output to the DataFrame with a new column name in between the `[]`.
- Operations are element-wise, no need to loop over rows.
- Use `rename` with a dictionary or function to rename row labels or column names.
<br>

The user guide contains a separate section on __[column addition and deletion](https://pandas.pydata.org/docs/user_guide/dsintro.html#basics-dataframe-sel-add-del)__.